<!DOCTYPE html>
<html>
<head>
	<title>树妖攻城狮的IT实验室 -- 后台管理</title>
	<link href="/static/favicon.ico" rel="bookmark" type="image/x-icon" />
	<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
	<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='admin/css/main.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='admin/js/global.js') }}"></script>
	{% endblock %}
</head>
<body>
<div id="wrapper">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ url_for('admin.categoryIndex') }}">树妖攻城狮的IT实验室 -- 后台管理</a>
		</div>
		<a class="navbar-brand navbar-link pull-right" href="{{ url_for('admin.adminLogout') }}">登出</a>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li {% if '/dashboard' in request.url_rule.rule %} class="active" {% endif %}>
					<a href="{{ url_for('admin.categoryIndex') }}"><i class="fa fa-dashboard"></i> 仪表盘</a>
				</li>
				<li {% if '/category' in request.url_rule.rule %} class="active" {% endif %}>
					<a href="{{ url_for('admin.categoryIndex') }}"><i class="fa fa-list"></i> 博客分类</a>
				</li>
				<li {% if '/post' in request.url_rule.rule %} class="active" {% endif %}>
					<a href="{{ url_for('admin.postIndex') }}"><i class="fa fa-font"></i> 博客文章</a>
				</li>
				<li {% if '/album' in request.url_rule.rule %} class="active" {% endif %}>
					<a href="{{ url_for('admin.albumIndex') }}"><i class="fa fa-list"></i> 相册</a>
				</li>
				<li {% if '/photo' in request.url_rule.rule %} class="active" {% endif %}>
					<a href="{{ url_for('admin.photoIndex') }}"><i class="fa fa-camera"></i> 相册照片</a>
				</li>
				<li {% if '/comment' in request.url_rule.rule %} class="active" {% endif %}>
					<a href="{{ url_for('admin.commentIndex') }}"><i class="fa fa-comments"></i> 评论</a>
				</li>
				<li {% if '/user' in request.url_rule.rule %} class="active" {% endif %}>
					<a href="{{ url_for('admin.userIndex') }}"><i class="fa fa-user"></i> 用户管理</a>
				</li>
			</ul>
		</div>
	</nav>
	<div id="page-wrapper">
		 <div class="row content-body">
			<div class="col-lg-12">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">All Rights Reserved &copy; www.jacky-wu.com</div>
		</div>
	</div>
</div>
</body>
</html>