{% extends "admin/_base.html" %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}
{% block content %}
<h2>博客文章 <small>编辑</small></h2>
<div class="clearfix">
	<a href="{{ url_for('admin.postIndex') }}{% if data['category_id'] %}?category_id={{ data['category_id'] }}{% endif %}" class="btn btn-primary pull-right">返回</a>
</div>
<div class="table-responsive">
	<div class="row">
		<div class="col-lg-12">
			<form method="POST" action="{{ url_for('admin.postUpdate', id=post.id) }}{% if data['category_id'] %}?category_id={{ data['category_id'] }}{% endif %}" class="form-horizontal" enctype="multipart/form-data">
			{% include 'admin/post/_form.html' %}
			</form>
		</div>
	</div>
</div>
{% endblock %}